<aside class="barra-anuncios">
  <div class="contenedor-barra-anuncios">
    <div class="barra-carrusel">
      <% data.site.ad_banners.each do |id, banner| %>
        <% banner.ad.each do |ad| %>
          <div class="anuncio-barra">
            <h4><%= ad.title %></h4>
            <p class="<% if banner.button %>padding-enlace<% end %>"><%= ad.description %></p>
            <% if ad.button %>
              <%= link_to ad.button.title, "#{ ad.button.path }" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</aside>
