---
layout: list
---
<%# Config %>
<% category = locals[:category] %>
<% subcategory = locals[:subcategory] %>
<% if !subcategory %>
  <% title = category.name %>
<% else %>
  <% title = subcategory.nombre %>
<% end %>
<% list = [] %>
<% data.site.product_menu.each do |id, menu| %>
  <% if category.name === "Maderas" %>
    <% menu.maderas.each do |product| %>
      <% list.push(product) %>
    <% end %>
  <% elsif category.name === "Tableros" %>
    <% menu.tableros.each do |product| %>
      <% list.push(product) %>
    <% end %>
  <% end %>
<% end %>
<%# End %>
<section id="contenedor-de-contenido" class="lista <% if subcategory %>lista-tablet-subcategoria<% end %>">
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="contenedor-movil-completo contenedor-tablet-completo">
    <div class="reticula listado">
      <% list.each do |product| %>
        <% if product.nombre %>
          <h1><%= product.nombre %></h1>
        <% else %>
          <h1><%= product.name %></h1>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
