---
layout: list
---
<%# Config %>
<% category = locals[:category] %>
<% subcategory = locals[:subcategory] %>
<% if !subcategory %>
  <% title = category.name %>
<% else %>
  <% title = subcategory.nombre %>
<% end %>
<% list = [] %>
<% data.site.product_menu.each do |id, menu| %>
  <% if category.name === "Maderas" %>
    <% menu.maderas.each do |product| %>
      <% list.push(product) %>
    <% end %>
  <% elsif category.name === "Tableros" %>
    <% if !subcategory %>
      <% menu.triplay.each do |product| %>
        <% list.push(product) %>
      <% end %>
    <% else %>
      <% menu.tableros.each do |product| %>
        <% list.push(product) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%# End %>
<section id="contenedor-de-contenido" class="lista <% if subcategory %>lista-tablet-subcategoria<% end %>">
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="contenedor-movil-completo contenedor-tablet-completo">
    <div class="reticula listado">
      <% list.each do |product| %>
        <%# Config %>
        <% if product.nombre %>
          <% name = product.nombre %>
          <% if category.name === "Maderas" %>
            <% path = "/#{ title.parameterize }/#{ name.parameterize }" %>
          <% elsif category.name === "Tableros" %>
            <% path = "/#{ title.parameterize }/#{ product.subcategory.nombre.parameterize }/#{ name.parameterize }" %>
          <% end %>
        <% else %>
          <% name = product.name %>
          <% path = "/#{ title.parameterize }/#{ name.parameterize }" %>
        <% end %>
        <% src = "#{ product.card.url }" %>
        <% alt = "#{ product.card.description }" %>
        <%# End %>
        <div class="lista-de-productos columna-movil-50 columna-tablet-33 columna-desktop-3">
            <div class="tarjeta-producto">
              <% link_to "/#{ path }", :class => "enlace-imagen" do %>
                <div class="cubierta"></div>
                <picture>
                  <img src="<%= src %>" alt="<%= alt %>"/>
                </picture>
              <% end %>
              <header>
                <%= link_to name, "#{ path }" %>
                <% if product.nombre %>
                  <% if subcategory_on_sale name %>
                    <span class="oferta-lista"></span>
                  <% end %>
                <% else %>
                  <% if product.is_sale %>
                    <span class="oferta-lista"></span>
                  <% end %>
                <% end %>
              </header>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
