---
layout: list
---
<%# Config %>
<% category = locals[:category] %>
<% subcategory = locals[:subcategory] %>
<% if !subcategory %>
  <% title = category.name %>
<% else %>
  <% title = subcategory.nombre %>
<% end %>
<% primary_products = [] %>
<% data.site.product_menu.each do |id, list| %>
  <% if category.name === "Maderas" %>
    <% list.maderas.each do |product| %>
      <% primary_products.push(product) %>
    <% end %>
  <% elsif category.name === "Tableros" %>
    <% list.tableros.each do |product| %>
      <% primary_products.push(product) %>
    <% end %>
  <% end %>
<% end %>
<%# End %>
<section id="contenedor-de-contenido" class="lista <% if subcategory %>lista-tablet-subcategoria<% end %>">
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="contenedor-movil-completo contenedor-tablet-completo">
    <div class="reticula listado">
      <% data.product_menu.each do |id, menu| %>
        <%# Config %>
        <% if !subcategory %>
          <% if title === "Maderas" %>
            <% list = menu.maderas %>
          <% elsif title === "Tableros" %>
            <% list = menu.tableros %>
          <% end %>
        <% end %>
        <%# End %>
        <%# Test %>
        <h1><%= title %></h1>
        <% if !list[0].subcategory %>
          <h2><%= product.name %></h2>
        <% else %>
          <h2><%= subcategory.nombre %></h2>
        <% end %>
        <%# End %>
    </div>
  </div>
</section>
